$congressblue: #00467F;
$wildwillow: #A5CC82;
$athens-gray: #f0f0f2;
$cadet-blue: #a9aec0;
$lucky-point: #11145a;
$coral: #ff7f5d;
$bali-hai: #8198af;
$ebony-clay: #252b3b;
$space-cadet: #17234d;
$azure: #027fff;
$water: #d0f6ff;
$fluorescent-blue: #19e8e2;
$lincoln-green: #104a0d;
$dark-pastel-green: #1bbd32;
$nyanza: #e5fdce;
$sap-green: #45871b;
$schoolbus-yellow: #ffd900;
$cetacean-blue: #01004e;
$blue-bolt: #00b6ff;
$vivid-raspberry: #ff176b;
$brown-coffee: #4a2632;
$rajah: #feb561;
$cinereous: #a08986;
$almond: #eaddcd;
$dark-jungle: #1c2520;
$bisque: #ffe2c8;
$midnight-green: #144e5a;

$eagle-green: $midnight-green;
$selective-yellow: #ffb901;
$cetacean-dark-blue: #0f0d35;
$bright-gray: #eaebe7;
$cyan-cobalt-blue: #204fa1;
$mountain-meadow: #33b786;
$gun-metal: #2b3443;
$maximum-blue-green: #37b9c6;
$paradise-pink: #e74f5b;
$blue-violet: #8843e4;
$sasquatch-socks: #ff4779;
$piggy-pink: #ffe1e8;
$russian-violet: #32184b;
$celtic-blue: #2d7bd8;
$water-blue: #d0e7fe;
$maastricht-blue: #a08986;
$princeton-orange: #ff842b;
$crayola-blue: #2173fd;
$spiro-disco-ball: #18c3f7;
$maastricht-blue-alt: #001736;
$independence-gray: #464f65;
$aztec-gold: #c58e4d;
$cafe-noir: #4b3414;
$cookies-cream: #e7dfae;
$dark-tan: #978d4f;
$palatinate-purple: #632763;
$crayola-violet: #9a309a;
$pink-lace: #ffdefc;
$american-purple: #511f52;
$chinese-black: #0f131f;
$beer: #ff8e25;
$raisin-black: #202020;
$metallic-yellow: #ffc815;
$awesome-red: #ff1d46;

$skobeloff: #0a7273;
$oxford-blue: #033043;
$crayola-yellow: #fda521;
$sunglow: #ffcc3d;
$jordy-blue: #959dff;
$prussian-blue: #063455;
$crayola-red: #eb274b;
$pale-pink: #ffd4de;
$smoky-black: #0d0d0d;
$verdigris: #51aeb0;
$charleston-green: #272727;
#blanched-almond: #fef0ce;
$wageningen-green: #49a52c;
$metallic-seaweed: #0a8792;
$japanese-violet: #592251;
$rich-lavender: #fb9dff;
$opal: #9ab8ba;
$light-cyan: #ff9377;
$rose-red: #c91b53;
$spanish-yellow: #f1b813;
$electric-pink: #e92c7c;
$brown-chocolate: #560d2b;
$japanese-indigo: #2a3a45;
$teal-blue: #347991;
$deep-carmine-pink: #f52d3a;
$french-plum: #6f0964;

$chocolate-kisses: #2d161e;
$quinacridone-magenta: #8e3258;
$desert-sand: #eebfa8;
$dark-olive-green: #616a39;
$viridian-green: #029791;
$yankees-blue: #17273d;
$police-blue: #3d5872;
$silver-chalice: #f4b151;
$dodger-blue: #1fa2ff;
$bright-turouoise: #12d8fa;
$aero-blue: #a6ffcb;