.harmonic-energy {
  background: #16a085; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #16a085, #f4d034); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #16a085, #f4d034); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.blooker-20 {
  background: #e65c00; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e65c00, #f9d423); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #e65c00, #f9d423); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.love-kiss {
  background: #ff0844; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff0844, #ffb199); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #ff0844, #ffb199); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.purple-division {
  background: #7028e4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7028e4, #e5b2ca); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #7028e4, #e5b2ca); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.sharp-blues {
  background: #00c6fb; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00c6fb, #005bea); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #00c6fb, #005bea); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.sunny-morning {
  background: #f6d365; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f6d365, #fda085); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #f6d365, #fda085); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.faraway-river {
  background: #6e45e2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6e45e2, #88d3ce); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #6e45e2, #88d3ce); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.itmeo-branding {
  background: #2af598; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2af598, #009efd); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #2af598, #009efd); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.amy-crisp {
  background: #a6c0fe; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a6c0fe, #f68084); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #a6c0fe, #f68084); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.dirty-beauty {
  background: #6a85b6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6a85b6, #bac8e0); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #6a85b6, #bac8e0); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.malibu-beach {
  background: #4facfe; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4facfe, #00f2fe); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #4facfe, #00f2fe); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.aqua-splash {
  background: #13547a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #13547a, #80d0c7); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #13547a, #80d0c7); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.millenium-pie {
  background: #50cc7f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #50cc7f, #f5d100); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #50cc7f, #f5d100); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.sea-shore {
  background: #209cff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #209cff, #68e0cf); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #209cff, #68e0cf); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.happy-memories {
  background: #ff5858; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff5858, #f09819); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #ff5858, #f09819); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.vicious-stance {
  background: #29323c; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #29323c, #485563); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #29323c, #485563); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.royal-garden {
  background: #ed6ea0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ed6ea0, #ec8c69); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #ed6ea0, #ec8c69); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.lush {
  background: #1aa37a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #1aa37a, #9dffb3); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #1aa37a, #9dffb3); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.river-city {
  background: #2f5cff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2f5cff, #dbf4ff); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #2f5cff, #dbf4ff); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.lady-lips {
  background: #ff9a9e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ff9a9e, #fecfef); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #ff9a9e, #fecfef); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.blue-raspberry {
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00b4db, #0083b0); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #00b4db, #0083b0); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.pinot-noir {
  background: #4b6cb7; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4b6cb7, #182848); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #4b6cb7, #182848); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.windy {
  background: #acb6e5; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #acb6e5, #86fde8); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #acb6e5, #86fde8); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.forest-inel {
  background: #5236ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #5236ff, #d9edff); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #5236ff, #d9edff); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.socialive {
  background: #06beb6; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #06beb6, #48b1bf); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #06beb6, #48b1bf); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.anamnisar {
  background: #9796f0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #9796f0, #fbc7d4); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #9796f0, #fbc7d4); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.emerald-water {
  background: #348f50; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #348f50, #56b4d3); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #348f50, #56b4d3); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.intuitive-purple {
  background: #da22ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #da22ff, #9733ee); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #da22ff, #9733ee); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.green-beach {
  background: #02aab0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #02aab0, #00cdac); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #02aab0, #00cdac); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.sunny-days {
  background: #ede574; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ede574, #e1f5c4); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #ede574, #e1f5c4); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.playing-with-reds {
  background: #d31027; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #d31027, #ea384d); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #d31027, #ea384d); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}

.sexy-blue {
  background: #2193b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2193b0, #6dd5ed); /* chrome 10-25, safari 5.1-6 */
  background: linear-gradient(to right, #2193b0, #6dd5ed); /* w3c, ie 10+/ edge, firefox 16+, chrome 26+, opera 12+, safari 7+ */
}