// Pallete colors
@use 'mixins';

$petal-color-1: #4d4141;
$petal-color-2: #ee534f;
$petal-color-3: #fd7d96;
$petal-color-4: #ffcdd2;

$muted-color-1: #a77a95;
$muted-color-2: #c3c3d5;
$muted-color-3: #f5d698;
$muted-color-4: #faeee9;

$mountain-goat-1: #53402f;
$mountain-goat-2: #957a67;
$mountain-goat-3: #cfcecc;
$mountain-goat-4: #9fa9b2;

$lime-1: #434738;
$lime-2: #b5d43b;
$lime-3: #d9ef82;
$lime-4: #f7f7f7;

$kindle-1: #3b8183;
$kindle-2: #f5634a;
$kindle-3: #ff9c5b;
$kindle-4: #fad089;

$lavendar-1: #c2528b;
$lavendar-2: #f380b9;
$lavendar-3: #5f50a9;
$lavendar-4: #9652c2;

$waves-1: #04445f;
$waves-2: #189ab4;
$waves-3: #74e7da;
$waves-4: #d4f2f4;

$cornflower-1: #898c6f;
$cornflower-2: #eba91d;
$cornflower-3: #e8d743;
$cornflower-4: #f3f4ee;

$tangerine-1: #ff6d00;
$tangerine-2: #ff9201;
$tangerine-3: #ffab41;
$tangerine-4: #ffd181;

$stromi-1: #3f7396;
$stromi-2: #4f8eb5;
$stromi-3: #77bddf;
$stromi-4: #a4e2f9;

$oceanbay-color-1: #0567a6;
$oceanbay-color-2: #05a0bf;
$oceanbay-color-3: #60e3d5;
$oceanbay-color-4: f6f0f0;

$peachy-color-1: #490b3e;
$peachy-color-2: #bc1e51;
$peachy-color-3: #f1b813;
$peachy-color-4: #fad1d7;

$color-1: #d1ded3;
$color-2: #9cbfac;
$color-3: #719d99;
$color-4: #45767c;
$color-5: #29445d;

$seaweed-1: #21615d;
$seaweed-2: #339576;
$seaweed-3: #87e1c7;
$seaweed-4: #e9ebed;

$island-1: #075065;
$island-2: #29a58d;
$island-3: #aae68b;
$island-4: #e9ebed;

$reef-1: #085389;
$reef-2: #43c3c3;
$reef-3: #a2e494;
$reef-4: #e9ebed;

$fall-spices-1: #6a0300;
$fall-spices-2: #eb5e42;
$fall-spices-3: #ffbb69;
$fall-spices-4: #e2ecf2;

$cherry-1: #7e2a3b;
$cherry-2: #d04747;
$cherry-3: #ff916c;
$cherry-4: #e9ebed;

$pumpkin-1: #6f2752;
$pumpkin-2: #dc7957;
$pumpkin-3: #ffd57f;
$pumpkin-4: #e9ebed;

$wilma-1: #324373;
$wilma-2: #4b9bb7;
$wilma-3: #96cf91;
$wilma-4: #e9ebed;

$palm-1: #ff8c8c;
$palm-2: #179cbc;
$palm-3: #47c0a7;
$palm-4: #fbe4a3;

$ice-blue-1: #3a5985;
$ice-blue-2: #618fca;
$ice-blue-3: #b2caee;
$ice-blue-4: #f1f4fb;
