
$congressblue: #00467F;
$wildwillow: #A5CC82;

$color-1: #d1ded3;
$color-2: #9cbfac;
$color-3: #719d99;
$color-4: #45767c;
$color-5: #29445d;

$petal-color-1: #4d4141;
$petal-color-2: #ee534f;
$petal-color-3: #fd7d96;
$petal-color-4: #ffcdd2;



$oceanbay-color-1: #0567a6;
$oceanbay-color-2: #05a0bf;
$oceanbay-color-3: #60e3d5;
$oceanbay-color-4: f6f0f0;

$peachy-color-1: #490b3e;
$peachy-color-2: #bc1e51;
$peachy-color-3: #f1b813;
$peachy-color-4: #fad1d7;

$athens-gray: #f0f0f2;
$cadet-blue: #a9aec0;
$lucky-point: #11145a;
$coral: #ff7f5d;
$bali-hai: #8198af;
$ebony-clay: #252b3b;